<div class="login-page">
  <div class="efeito efeito-esquerda"></div>
  <div class="efeito efeito-direita"></div>

  <div class="login-card">
    <div class="login-header">
      <h1>{{ titulo }}</h1>
      <div class="linha-logo"></div>
    </div>

    @if (mensagemErro) {
      <div class="alerta erro">
        {{ mensagemErro }}
      </div>
    }

    @if (mensagemSucesso) {
      <div class="alerta sucesso">
        {{ mensagemSucesso }}
      </div>
    }

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="campo">
        <label for="email">Login</label>

  <div class="input-box" [class.input-box-invalido]="email.touched && email.invalid">
    <span class="icone">
      <i class="bi bi-envelope"></i>
        </span>

          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Digite seu login"
          />
        </div>

        @if (email.touched && email.invalid) {
          <small class="mensagem-validacao">
            @if (email.errors?.['required']) {
              <span>O e-mail é obrigatório.</span>
            }
            @if (email.errors?.['email']) {
              <span>Digite um e-mail válido.</span>
            }
          </small>
        }
      </div>

      <div class="campo">
        <label for="senha">Senha</label>

  <div class="input-box" [class.input-box-invalido]="senha.touched && senha.invalid">
    <span class="icone">
      <i class="bi bi-lock"></i>
           </span>

          <input
            id="senha"
            [type]="mostrarSenha ? 'text' : 'password'"
            formControlName="senha"
            placeholder="Digite sua senha"
          />

<button
  type="button"
  class="btn-olho"
  (click)="alternarSenha()"
>
  @if (mostrarSenha) {
    <i class="bi bi-eye-slash"></i>
  } @else {
    <i class="bi bi-eye"></i>
  }
</button>
        </div>

        @if (senha.touched && senha.invalid) {
          <small class="mensagem-validacao">
            @if (senha.errors?.['required']) {
              <span>A senha é obrigatória.</span>
            }
            @if (senha.errors?.['minlength']) {
              <span>A senha deve ter no mínimo 6 caracteres.</span>
            }
          </small>
        }
      </div>

      <button
        type="submit"
        class="btn-acessar"
        [disabled]="loginForm.invalid || carregando"
      >
        @if (carregando) {
          <span>Entrando...</span>
        } @else {
          <span>Acessar</span>
        }
      </button>
    </form>

    <div class="divisor">
      <span>ou</span>
    </div>

    <a href="#" class="link-secundario">Esqueci a senha?</a>

  <a routerLink="/cadastro-empresa" class="btn-cadastrar-empresa">
  Cadastrar nova empresa
</a>
  </div>
</div>