<main class="perfil-main">
    <section class="page-header">
      <h1>Meu Perfil</h1>
      <p>Suas informações e desempenho</p>
    </section>

    <section class="profile-card">
      <div class="profile-left">
        <div class="avatar-profile">
          {{ iniciaisUsuario() }}
        </div>

        <span class="level-pill">
          Nível {{ usuario.nivel }}
        </span>
      </div>

      <div class="profile-content">
        <div class="profile-info">
          <h2>{{ usuario.nome }}</h2>
          <p>{{ usuario.cargo }}</p>
        </div>

        <div class="info-row">
          <div class="info-item">
            <div class="info-icon blue">✉</div>

            <div>
              <span>E-mail</span>
              <strong>{{ usuario.email }}</strong>
            </div>
          </div>

          <div class="info-item">
            <div class="info-icon purple">▣</div>

            <div>
              <span>Departamento</span>
              <strong>{{ usuario.departamento }}</strong>
            </div>
          </div>
        </div>

        <div class="xp-area">
          <div class="xp-header">
            <span>📈 Progresso XP</span>
            <strong>
              {{ usuario.xpAtual }} / {{ usuario.xpProximoNivel }} XP
            </strong>
          </div>

          <div class="progress-bar">
            <div
              class="progress-fill"
              [style.width.%]="progressoXp()"
            ></div>
          </div>

          <p>
            Faltam {{ xpRestante() }} XP para o próximo nível
          </p>
        </div>
      </div>
    </section>

    <section class="section-card">
      <header class="section-title">
        <span>🏅</span>
        <h2>Conquistas</h2>
      </header>

      <div class="achievements-grid">
        <article
          class="achievement-card"
          *ngFor="let conquista of conquistas"
        >
          <div
            class="achievement-icon"
            [ngClass]="classeConquista(conquista.cor)"
          >
            {{ conquista.icone }}
          </div>

          <strong>{{ conquista.titulo }}</strong>
        </article>
      </div>
    </section>

    <section class="section-card">
      <header class="section-title">
        <span>📈</span>
        <h2>Histórico de Desempenho</h2>
      </header>

      <div class="history-list">
        <article
          class="history-item"
          *ngFor="let item of historico; let i = index"
        >
          <div class="history-left">
            <span class="history-number">
              {{ i + 1 }}
            </span>

            <div>
              <h3>{{ item.mes }}</h3>
              <p>{{ item.tarefasConcluidas }} tarefas concluídas</p>
            </div>
          </div>

          <strong>
            +{{ item.xpGanho }} XP
          </strong>
        </article>
      </div>
    </section>
</main>
